SECTION A — Tuples

In [19]:
# Q1
# Given:
# t1 = (5, 2, 9, 5, 2, 7, 8, 9)
# Write a program to:
#  a) Create a new tuple of only unique elements, sorted in ascending order (3 marks)
#  b) Find the index positions of all occurrences of 5 (4 marks)

t1 = (5, 2, 9, 5, 2, 7, 8, 9)
unique_t1 = tuple(set(t1))
print(unique_t1)

index_of_5 = []
for i in range(len(t1)):
    if t1[i] == 5:
        index_of_5.append(i)
print(tuple(index_of_5))

(2, 5, 7, 8, 9)
(0, 3)

In [18]:
# Q2
# You are given two tuples:
# a = (1, 3, 5, 7)
# b = (2, 4, 6, 8)
# Task:
# Merge the tuples in such a way that the result becomes: (3 marks)
# (1, 2, 3, 4, 5, 6, 7, 8)
# Convert the merged tuple into a list, replace all even numbers with their negative equivalent, and convert back to tuple (5 marks)

a = (1, 3, 5, 7)
b = (2, 4, 6, 8)
merged_tuple = a + b
print(tuple(sorted(merged_tuple)))

merged_list = list(merged_tuple)
for i in range(len(merged_list)):
    if merged_list[i] % 2 == 0:
        merged_list[i] = -merged_list[i]
print(tuple(merged_list))

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 3, 5, 7, -2, -4, -6, -8)

SECTION B — Sets & Set Methods

In [27]:
# Q3.
# Given two sets:
# A = {10, 20, 30, 40, 50}
# B = {30, 60, 90, 20}
# Write code to:
#  a) Find numbers present in A but not in B, and also B but not in A, and combine them into a single set (4 marks)
#  b) Remove all elements from A that are divisible by 20 (2 marks)
#  c) Add all elements of resulting B into A (use update()) (2 marks)

A = {10, 20, 30, 40, 50}
B = {30, 60, 90, 20}
A_not_B = A - B
B_not_A = B - A
# print(A_not_B)
# print(B_not_A)
print(A_not_B | B_not_A)

for i in A.copy():
    if i % 20 == 0:
        A.remove(i)
print(A)

A.update(B)
print(A)

{50, 90, 40, 10, 60}
{50, 10, 30}
{50, 20, 90, 10, 60, 30}

In [30]:
# Q4.
# Given a set:
# s = {12, 7, 3, 18, 21, 5}
# Write code to:
#  a) Extract all elements greater than 10 into a new set (without using loops, use comprehension) (4 marks)
#  b) Use pop() repeatedly until only two elements remain (3 marks)

s = {12, 7, 3, 18, 21, 5}
new_s = {i for i in s if i>10}
print(new_s)

while len(s)>2:
    s.pop()
    print(s)

{18, 12, 21}
{3, 5, 21, 7, 12}
{5, 21, 7, 12}
{21, 7, 12}
{7, 12}

SECTION C — Dictionaries & Methods

In [ ]:
# Q5.
# Given the dictionary:
# sales = {
#     "Jan": {"total": 1200, "returns": 2},
#     "Feb": {"total": 1500, "returns": 3},
#     "Mar": {"total": 1700, "returns": 1}
# }

# Perform:
#  a) Increase "total" of every month by 5% (4 marks)
#  b) Add a new month:
# "Apr": {"total": 1600, "returns": 2}
# (2 marks)
#  c) Delete the month with highest "returns" (4 marks)
#  d) Print only the months whose total is above 1500 (2 marks)