SECTION A — STRINGS

In [30]:
# Q1
# Write a program that takes a user’s full name and:
# - Prints the name in title case
# - Prints the first and last character
# - Prints the name reversed
# - Prints how many times the letter "a" appears
# - Removes all spaces from the name

user_name = input("Enter your full name")

print(user_name.title())
print(user_name[0]+user_name[-1])
print(user_name[::-1])
print(user_name.count("a"))
print("".join(user_name.split(" ")))
# print(user_name.replace(" ", ""))

Enter your full nameamzad hossain jackey
Amzad Hossain Jackey
ay
yekcaj niassoh dazma
4
amzadhossainjackey

In [42]:
# Q2
# Given:
# s = "Learning Python Is Fun"
# Write code to:
#  a) Convert to lowercase
#  b) Replace "Fun" with "Awesome"
#  c) Print the 3rd to 10th characters
#  d) Check if the string ends with "Fun"
#  e) Split the string into a list of words

s = "Learning Python Is Fun"
print(s.lower())
new_s = s.replace("Fun", "Awesome")
print(new_s)
print(new_s[2:9])
print(new_s.endswith("Fun"))
print(new_s.split())

learning python is fun
Learning Python Is Awesome
arning
False
['Learning', 'Python', 'Is', 'Awesome']

SECTION B — NUMBERS, MATH & OPERATOR PRECEDENCE

In [49]:
# Q3
# Write a program that evaluates and prints the result of:
# 5 + 3 * 4
# (5 + 3) * 4
# 100 / 6 and 100 // 6
# 2 ** 5 * 3
# Explain each result using Python comments only.
print(5 + 3 * 4)
print((5 + 3) * 4)   # () will count first
print(100 / 6)
print(100 // 6) # round the value
print(2 ** 5 * 3) # 2**5=32 * 3

17
32
16.666666666666668
16
96

In [54]:
# Q4
# Using the math module, compute and print:
# √225
# sin(90°)
# 8³
# value of π rounded to 4 decimals
import math
print(math.sqrt(255))
print(math.sin(math.radians(90)))
print(math.pow(8, 3))
print(round(math.pi,4))

15.968719422671311
1.0
512.0
3.1416

SECTION C — IF STATEMENTS & LOGICAL OPERATORS

In [64]:
# Q5
# Write a program that takes any number from the user and:
# - Prints Positive, Negative, or Zero
# - Prints Even or Odd
user_number = int(input("Type a number"))
if user_number == 0:
  print("Zero")
elif user_number > 0:
  print("Positive")
else:
  print("Negative")

if user_number % 2 == 0:
  print("Even")
else:
    print("Odd")

Type a number23
Positive
Odd

In [66]:
# Q6
# Write a program that takes three subject marks from the user and:
# - Calculates total
# - Calculates average
# - If all marks ≥ 40 → print Pass, otherwise Fail
# - If average ≥ 75 → print Distinction, otherwise Normal Pass
# - Use logical operators (and, or).
first_subject = int(input("Type your first subject mark"))
second_subject = int(input("Type your second subject mark"))
third_subject = int(input("Type your third subject mark"))
print(f"-> Your total mark: {first_subject + second_subject + third_subject}")
average_mark = round((first_subject + second_subject + third_subject)/3,2)
print(f"-> Your average mark: {average_mark}")   # rounding the average

if first_subject >= 40 and second_subject >= 40 and third_subject >= 40:
  print("Pass")
else: print("Fail")

if average_mark >= 75:
  print("Distinction")
else: print("Normal Pass")

Type your first subject mark70
Type your second subject mark80
Type your third subject mark85
-> Your total mark: 235
-> Your average mark: 78.33
Pass
Distinction

SECTION D — LOOPS

In [72]:
# Q7. While Loop
# Write a program that prints numbers from 1 to 50 but:
# - Skip all numbers divisible by 4
# - Stop completely when number reaches 37

number = 1
while number <= 50:
  if number % 4 == 0:
    number += 1
    continue
  if number == 37:
    break
  print(number)
  number += 1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [78]:
# Q8. For Loop
# Write a program that prints the multiplication table of a user-entered number from 1 to 12.
user_number = int(input("Type a number"))
for i in range(1,13):
  print(f"{user_number} x {i} = {user_number * i}")

Type a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [86]:
# Q9. Nested Loops
# Print the following number pattern using nested loops:
# 1
# 12
# 123
# 1234
# 12345
num = 5
for i in range(1, num + 1):
  for j in range(1,i+1):
    print(j, end="")
  print()

1
12
123
1234
12345

SECTION E — LISTS & LIST COMPREHENSION

In [95]:
# Q10. List Methods
# Given:
# nums = [12, 4, 8, 1, 9, 3, 4, 4]
# Write code to:
# - Sort the list
# - Insert 100 at index 2
# - Remove the value 1
# - Find and print the max and min values
# - Reverse the list
# - Count how many times 4 appears
nums = [12, 4, 8, 1, 9, 3, 4, 4]
sorted_num = sorted(nums)
print(sorted_num)
sorted_num.insert(2,100)
print(sorted_num)
sorted_num.remove(1)
print(sorted_num)
print(max(sorted_num))
print(min(sorted_num))
sorted_num.reverse()
print(sorted_num)
print(sorted_num.count(4))

[1, 3, 4, 4, 4, 8, 9, 12]
[1, 3, 100, 4, 4, 4, 8, 9, 12]
[3, 100, 4, 4, 4, 8, 9, 12]
100
3
[12, 9, 8, 4, 4, 4, 100, 3]
3

In [104]:
# Q11. List Processing
# Create a list of 10 integers.
#  Write a program that:
# - Prints the list
# - Prints only the odd numbers
# - Prints only the numbers greater than 20
# - Replaces all numbers less than 10 with 0

int_list = [1, 2, 7, 4, 9, 5, 12, 13, 67]
print(int_list)

odd_list = []
for i in int_list:
  if i % 2 != 0:
    odd_list.append(i)
print(odd_list)

for i in int_list:
  if i > 20:
    print(i)

for i in int_list:
  if i < 10:
    # print(int_list.index(i))
    int_list[int_list.index(i)] = 0
print(int_list)

[1, 2, 7, 4, 9, 5, 12, 13, 67]
[1, 7, 9, 5, 13, 67]
67
[0, 0, 0, 0, 0, 0, 12, 13, 67]

In [106]:
# Q12. List Comprehension
# Using list comprehension, create a list of all numbers from 1 to 100 that are:
# - Divisible by 3
# - But not divisible by 5

my_list = [i for i in range(1,101) if i % 3 == 0 and i % 5 != 0]

print(my_list)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]