## Iterating Over Lists, Tuples, and Sets

Iteration is the process of visiting each element in a collection. Python makes this simple using for loops.

### Lists
Lists are ordered collections, so we can access elements by index or directly.

In [ ]:
for i in range(10):
  print(i)

# for item in list:
#   print(item)

# len(list_name)
# list_name[i]

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# Simple iteration
for fruit in fruits:
    print(fruit)

# Iteration with index
for i in range(len(fruits)):
    print(f"Index {i}: {fruits[i]}")

apple
banana
cherry
Index 0: apple
Index 1: banana
Index 2: cherry

In [ ]:
# Example: Filtering Items

numbers = [1, 2, 3, 4, 5]
even_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)

[2, 4]

### Tuples

Tuples are like lists but immutable. Iteration works the same way.

In [ ]:
points = (10, 20, 30)

for point in points:
    print(point)

### Sets

Sets are unordered collections of unique elements. Iteration is possible but no indexing is allowed.

In [ ]:
# colors[i]

In [ ]:
colors = {'red', 'green', 'blue'}

for color in colors:
    print(color)

blue
red
green

In [ ]:
# Example – Removing duplicates:

numbers = [1, 2, 2, 3, 4, 4]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4}

## Iterating Over Dictionaries
Dictionaries store data in key-value pairs. Iteration can be done over keys, values, or both.

In [ ]:
student1 = {'name': 'Alice', 'age': 20, 'course': 'Math'}

# Iterating over keys
for key in student1:
    print(key)

# Iterating over values
for value in student1.values():
    print(value)

# Iterating over key-value pairs
for key, value in student1.items():
    print(f"{key} -> {value}")

name
age
course
Alice
20
Math
name -> Alice
age -> 20
course -> Math

In [ ]:
# Example – Updating values while iterating:

grades = {'Alice': 85, 'Bob': 90, 'Charlie': 78}
for student in grades:
    grades[student] += 5  # Add 5 bonus points
print(grades)

{'Alice': 90, 'Bob': 95, 'Charlie': 83}

In [ ]:
# dictionary[key] -> value

## Zip and Enumerate

### Zip

zip() is useful to combine multiple lists or other iterables element-wise.

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 78]

for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 85
Bob: 90
Charlie: 78

In [ ]:
# Example – Creating a dictionary from two lists:

students = ['Alice', 'Bob', 'Charlie', 'Moon']
marks = [85, 90, 78]
student_marks = dict(zip(students, marks))
print(student_marks)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}

**Note**: Iteration stops at the shortest iterable. Extra elements in longer lists are ignored.

### Enumerate

enumerate() allows you to access both index and value while iterating.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
  print(fruit) # doesn't return index

for i in range(len(fruits)):
  print(fruits[i].capitalize()) # doesn't return value directly
  # fruits[2] - > cherry

print(fruits)

apple
banana
cherry
Apple
Banana
Cherry
['apple', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for i, fruit in enumerate(fruits):
    print(f"{i}: {fruit.capitalize()}") # returns both index and value

print(fruits)

0: Apple
1: Banana
2: Cherry
['apple', 'banana', 'cherry']

In [ ]:
# Example – Finding positions of items:

numbers = [10, 20, 30, 20, 40]
for i, num in enumerate(numbers):
    if num == 20:
        print(f"20 found at index {i}")

20 found at index 1
20 found at index 3

## Nested Lists and Dictionaries

### Nested Lists

In [ ]:
test_list = ['a', 2, 2.3, False, [2,3]]
for item in test_list:
  print(type(item))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for num in row:
        print(num, end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
print(matrix[0])
print()
"hello"

[1, 2, 3]

'hello'

### Nested Dictionaries

In [ ]:
students = {
    'Alice': {'age': 20, 'course': 'Math'},
    'Bob': {'age': 22, 'course': 'Physics'}
}

for student, info in students.items():
    print(student)
    for key, value in info.items():
        print(f"  {key}: {value}")

Alice
  age: 20
  course: Math
Bob
  age: 22
  course: Physics