### For Loop

A for loop is used to iterate over a sequence (like a list, tuple, string, or range) and execute a block of code repeatedly for each item in that sequence.

In [ ]:
count = 5

while count<5:
  print(count)
  count+=1

In [ ]:
# print 1-10

# i starts from 0; range (-1)
for i in range(10):
  print(i+1)

In [ ]:
# start index and range

for i in range(2,7):
  print(i)

In [ ]:
# start index, range, increment

for i in range(10 ,0, -2):
  print(i)

In [ ]:
for i in range(2):
  print(i)

0
1

### Nested Loop

A nested loop is simply a loop inside another loop. The inner loop runs completely every time the outer loop runs once. This is useful when you need to work with 2D structures like grids, tables, or combinations of items.

In [ ]:
# one loop inside another loop

for i in range(10): # 2
  for j in range(2): # 1
    print(i, j) # 1,1

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1
5 0
5 1
6 0
6 1
7 0
7 1
8 0
8 1
9 0
9 1

In [ ]:
# Example: Printing Pattern

rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")  # end="" keeps the stars on the same line
    print()  # moves to the next line

In [ ]:
# Example: Multiplication Table

for i in range(1, 4):  # outer loop for rows
    for j in range(1, 4):  # inner loop for columns
        print(f"{i*j}", end="\t")
    print()

### Break

The break statement is used to exit a loop immediately, even if the loop condition hasn’t finished. It works with both for loops and while loops.

In [ ]:
for i in range(2, 20, 2):
  print(i)

  if i==5:
    break

print("i am now out of loop")

2
4
6
8
10
12
14
16
18
i am now out of loop

In [ ]:
# Example: Breaking a Nested Loop

for i in range(3):
    for j in range(3):
        if i == 1 and j == 1:
            print("Breaking inner loop")
            break  # only breaks inner loop
        print(f"i={i}, j={j}")

# break only stops the loop it’s in.
# The outer loop continues after the inner loop is broken.

### Continue

The **continue statement** is used to **skip the rest of the code inside a loop for the current iteration** and immediately move to the **next iteration** of the loop. Unlike `break`, it does not stop the loop; it just jumps to the next cycle.

In [ ]:
for i in range(10):

  if i%2 != 0:
    continue
  print(i)

0
2
4
6
8

In [ ]:
0%2

0

### List

A list is an ordered, mutable collection of items. It can store numbers, strings, other lists, or any data type.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,0]

names = ['Sazzad', 'rahim', 'karim', 'abul'] # start index  = 0; end index = len(names)-1

# type(names)

names[3]

mixed = ['sazzad', 4, 5.30, False]

In [ ]:
for i in range(len(mixed)):
  print(mixed[i], type(mixed[i]))

sazzad <class 'str'>
4 <class 'int'>
5.3 <class 'float'>
False <class 'bool'>

In [ ]:
nested_list  = [[1,2], [3,4]]
print(nested_list[0][1])

2

In [ ]:
# update value of list using index
mixed[1] = 90
mixed

['sazzad', 90, 5.3, False]

In [ ]:
mixed[1:-1]

[90, 5.3]

### List Methods

[Official Documentation of List Methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

In [ ]:
mixed

['sazzad', 90, 5.3, False]

In [ ]:
# mixed.append('interesting')
# mixed.remove('interesting') # value
# mixed.insert(2, True) #index, value
# mixed.pop(3)
# mixed.reverse()
numbers.sort()

mixed

['interesting', True, 90, 'sazzad']

### List comprehention

A list comprehension is a concise way to create lists using a single line of code. It’s faster and often cleaner than using a normal for loop.

[Official Documntation](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

In [ ]:
# 1,2,3,4,5

sq = []

for i in range(1,6):
  print(i)
  sq.append(i*i)

print(sq)

1
2
3
4
5
[1, 4, 9, 16, 25]

In [ ]:
squares = [i*i for i in range(1,6)]
squares

[1, 4, 9, 16, 25]

In [ ]:
even_square = [i*i for i in range(1,6) if i%2==0]
even_square

[4, 16]